<h1> {{ title }} </h1>
<p> Welcome to {{ title }} </p>
<p> <b> Click below to go to the pages:  </b></p>

 1.<a href="/users/detail/">User Details</a><br>
 2.<a href="/login/">Log In</a> <br>

<h2> Using GET and POST requests --></h2>
<p><b>Or you can just type any of this:</b></p>
1. details
2. login
3. any id (integer) <br> <br>
 <form action = "/test/submit" method = "post">
 	<input type="text" name="id">
 	<button type="submit">Submit</button>
 </form>